body {
    font-size: 300%;
}

.button {
    font-size: 100%;
    padding: 5%;
}

.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
