body {
    font-size: 300%;
    margin: 0px;
    overflow: hidden;
}

.button {
    font-size: 100%;
    padding: 5%;
}

.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
}