<svg width="200px" height="200px">
    <defs>
        <linearGradient id="grad_out" x1="0" x2="0" y1="0" y2="1"> 
            <stop offset="0%" stop-color="rgba(0, 0, 0, 0)" />
            <stop offset="{percent}%" stop-color="rgba(0, 0, 0, 0)" />
            <stop offset="{percent}%" stop-color="rgba(calc(2.55*{inv_percent}), 0, 0, 255)"/>
            <stop offset="100%" stop-color="rgba(70, 70, 255, 255"/>
        </linearGradient>
    </defs>
    <path d="M 40 150 A 20 20 0 1 0 70 150 L 70 50 A 10 10 0 1 0 40 50 L 40 150 Z" stroke="black" stroke-width="3" fill="url(#grad_out)"/>
    <path d="M 130 100 L 130 55 M 130 75 L 120 65 M 130 85 L 145 70 M 110 90 L 150 90 A 1 1 0 0 0 150 60 M 110 90 A 1 1 0 0 1 110 60 A 1 1 0 0 1 150 60" stroke="black" stroke-width="3" fill-opacity="0"/>
    <text x="100" y="150" font-size="40px">{temperature}°</text>
</svg>